
section > h3 {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    margin-right: 0.5rem;
    width: 25%;
}

section > div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 70%;

}

html {

    border: double;
    size: 80em;
    border-color: #3e8f3e;

}

h1 {
    color: #4cf861;
    text-align: center;
}

h3 {
    padding-left: 20px;
    color: #4cf861;

}

table {
    width: 80%;
    text-align: center;
    color: #1979f8;

}

header, html, body {
    width: 80%;
    margin: 5px auto;
    text-align: center;

}

p {
    color: #1979f8;

}

a {
    color: #1979f8;

}

ul {

    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    visibility: hidden;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

image {

    width: 80%;
}

ol {
    color: #1979f8;
}

#obrazky {

}

header {
border-image-width: auto;
    max-width: 80%;
}
img {
    width: 80%;
    height: auto;

}
